body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
main {
  flex-grow: 1;
}
a {
  text-decoration: none;
}
h1,
h2,
h3 {
  margin: 0;
}
p {
  margin: 0;
}
ul,
ol {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* header */
.header .container {
  line-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  gap: 332px;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}

.page-nav {
  align-items: center;
  display: flex;
  gap: 40px;
}
.list {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
}
.menu {
  color: #2e2f42;
  font-weight: 500;
  display: flex;
  padding: 24px 0 24px 0;
}
.container .page-nav {
  display: flex;
  align-items: center;
}
.menu:hover,
.menu:focus,
.menu:active {
  color: #404bbf;
}
.address-list {
  display: flex;
  font-style: normal;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  gap: 40px;
}
.contacts {
  color: #434455;
}
.contacts:hover,
.contacts:focus,
.contacts:active {
  color: #404bbf;
}
.logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
}
.page-nav .span-logo {
  color: #2e2f42;
}
.section {
  background-color: #2e2f42;
}
.section-title {
  color: #fff;
  text-align: center;
  font-family: 'Roboto' sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  display: inline-block;
  max-width: 496px;
  margin-bottom: 48px;
}
.section-button {
  background: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.section-button:hover,
.section-button:focus {
  background-color: #404bbf;
}
.title-name {
  color: #2e2f42;
  font-family: 'Roboto' sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.title-text {
  color: #434455;
  font-family: 'Roboto' sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
}
.team {
  background-color: #f4f4fd;
}
.team-title,
.portfo {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  line-height: 1.11;
}
.team-item {
  background-color: #ffffff;
}
.portfo-item-name,
.team-item-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.4px;
  line-height: 1.2;
}
.portfo-item-text,
.team-item-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.h3 {
  font-family: 'Roboto' sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
}
.down-block {
  background-color: #2e2f42;
}
.logo-light {
  color: #f4f4fd;
}
.down-block-text {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
